<p id="notice"><%= notice %></p>

<h1>Turmas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Nivel</th>
      <th>Professor</th>
      <th>Alunos</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @turmas.each do |turma| %>
      <tr>
      <% if prof_signed_in? && @professor.ids==turma.professor.id%>
        <td><%= turma.nome %></td>
        <td><%= turma.nivel %></td>
        <td><%= turma.professor.nome %></td>
        <td><%= 'Clique em show para ver os alunos' %></td>
        <td><%= link_to 'Show', turma %></td>
        <td><%= link_to 'Edit', edit_turma_path(turma) %></td>
        <td><%= link_to 'Destroy', turma, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% elsif admin_signed_in? %>
        <td><%= turma.nome %></td>
        <td><%= turma.nivel %></td>
        <td><%= turma.professor.nome %></td>
        <td><%= 'Clique em show para ver os alunos' %></td>
        <td><%= link_to 'Show', turma %></td>
        <td><%= link_to 'Edit', edit_turma_path(turma) %></td>
        <td><%= link_to 'Destroy', turma, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    <%= link_to 'Voltar', 'secretario' %>
  </tbody>
</table>

<br>

<%= link_to 'New Turma', new_turma_path %>
