<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @turma.nome %>
</p>

<p>
  <strong>Nivel:</strong>
  <%= @turma.nivel %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @turma.professor.nome %>
</p>

<p>
  <strong>Alunos:</strong>
  <% @aluno.each do |aluno| %>
    <% if aluno.turma.id == @turma.id %>
   |  <%= aluno.nome %> |
     <% end %>
  <% end %> 
  </p>

<%= link_to 'Edit', edit_turma_path(@turma) %> |
<%= link_to 'Back', turmas_path %>
