<%= form_with(model: aluno, local: true) do |form| %>
  <% if aluno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aluno.errors.count, "error") %> prohibited this aluno from being saved:</h2>

      <ul>
        <% aluno.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :matricula %>
    <%= form.text_field :matricula %>
  </div>

  <div class="field">
     <%= form.label :turma%>
     <%= collection_select(:aluno, :turma_id, Turma.all, :id, :nome) %>
  </div>

   <div class="field">
     <%= link_to 'criar login aluno', new_user_registration_path %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
