<%= form_with(model: secretario, local: true) do |form| %>
  <% if secretario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(secretario.errors.count, "error") %> prohibited this secretario from being saved:</h2>

      <ul>
        <% secretario.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :identificacao %>
    <%= form.text_field :identificacao %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
