<p id="notice"><%= notice %></p>

<h1>Secretarios</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Identificacao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @secretarios.each do |secretario| %>
      <tr>
        <td><%= secretario.nome %></td>
        <td><%= secretario.identificacao %></td>
        <td><%= link_to 'Show', secretario %></td>
        <td><%= link_to 'Edit', edit_secretario_path(secretario) %></td>
        <td><%= link_to 'Destroy', secretario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Secretario', new_secretario_path %>
