<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @secretario.nome %>
</p>

<p>
  <strong>Identificacao:</strong>
  <%= @secretario.identificacao %>
</p>

<%= link_to 'Edit', edit_secretario_path(@secretario) %> |
<%= link_to 'Back', secretarios_path %>
