<!DOCTYPE html>
<html>
  <head>
    <title>UNB Idiomas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "UnB Idiomas", "", :class => "button btn btn-outline-primary btn-lg navbar-btn", :style => "color:white"%>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="secretario"><span class="glyphicon glyphicon-log-in"></span> Login Secretário</a></li>
      </ul>
    </div>
  </nav>
  <body>
  <div class="text-center">
    <div class="btn-group-vertical">
      <%= link_to "Página do Aluno", "aluno", :class => "button btn btn-primary btn-lg", :style => "color:white"%>
      <%= link_to "Página do Professor", "professor", :class => "button btn btn-primary btn-lg", :style => "color:white"%>
    </div>
  </div>

  </body>
</html>
