<!DOCTYPE html>
<html>
  <head>
    <title>UNB Idiomas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <p class="navbar-text float-right">
  <% if prof_signed_in? %>
  Logado como: <strong><%= current_prof.email %></strong>.
  <%= link_to 'Editar perfil', edit_prof_registration_path, :class => 'navbar-link' %> 
  <%= link_to "Logout", destroy_prof_session_path, method: :delete, :class => 'navbar-link'  %> <br> <br>
  | <%= link_to 'Criar turma', 'turma' %> | <br> 
  <% else %>
  <%= link_to "Registrar-se", new_prof_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_prof_session_path, :class => 'navbar-link'  %>
  <% end %>
    <%= yield %>
  </body>
</html>