<%= form_with(model: historico, local: true) do |form| %>
  <% if historico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(historico.errors.count, "error") %> prohibited this historico from being saved:</h2>

      <ul>
        <% historico.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :aluno_id %>
    <%= form.text_field :aluno_id %>
  </div>

  <div class="field">
    <%= form.label :turma_id %>
    <%= form.number_field :turma_id %>
  </div>

  <div class="field">
    <%= form.label :mencao %>
    <%= form.text_field :mencao %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
