<p id="notice"><%= notice %></p>

<p>
  <strong>Aluno:</strong>
  <%= @historico.aluno_id %>
</p>

<p>
  <strong>Turma:</strong>
  <%= @historico.turma_id %>
</p>

<p>
  <strong>Mencao:</strong>
  <%= @historico.mencao %>
</p>

<%= link_to 'Edit', edit_historico_path(@historico) %> |
<%= link_to 'Back', historicos_path %>
